<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <title>AWS Transcribe</title>
  </head>
  <body>
    <div class="container py-5">
        <div class="row justify-content-center">
        <h1>Simple AWS Transcribe</h1>
        </div>
    </div> 
    <div class="container">
        <div class="row justify-content-center">
            <div col="col-md-4"></div>
            <div col="col-md-4">
                <div>
                <label for="fileUpload" class="file-upload btn btn-primary btn-block">
                <i class="fa fa-upload mr-2"></i>Browse for media file ...
                <input id="audio-input" type="file">
                </div>
                <div>
                    <h4 id="status" class="text-left text-secondary" >Waiting for a selected file....</h4> 
                </div>
            </div>
            <div col="col-md-4"></div>
        </div>
    </label>
    </div>
      <script src="main.js"></script>
  </body>
</html>